
  <div class=''>
    <h4><%= _("Merge Articles") %></h4>
    <p class='help-block'>Merge the current article with another article whos id you mention in the below text box</p>
    <div class='class'>
      <%= form_tag({:controller=>"admin/content", :action=>"merge", :id=>params[:id]}, :method => "post") do %>
				<%= label_tag(:merge_with, "Article ID: ") %>
				<%= text_field_tag(:merge_with) %>
				<%= submit_tag("Merge") %>
			<% end %>
    </div>  
  </div>



